@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
.table > thead > tr:first-child > th {
    border: none;
}

.table {
  margin-bottom: 0px;
}
</style>

<p>Add some stuff, yo</p>