@page
@model IndexModel
@{
    ViewData["Title"] = "Budgets";
}

<style>
.table > thead > tr:first-child > th {
    border: none;
}

.table {
  margin-bottom: 0px;
}
</style>

<script src='/js/bignumber.js'></script>
<script>
BigNumber.set({ ROUNDING_MODE: 4 }); // 4 is HALF_UP
</script>

<table class="table table-sm ">
  <thead>
    <tr>
      <th scope="col">Envelope Name</th>
      <th scope="col">Saved</th>
      <th scope="col">(needed)</th>
      <th scope="col">Goal</th>
      <th scope="col">(by date)</th>
    </tr>
  </thead>
  <tbody id="envelopes-table-body">
  </tbody>
</table>
<div id="envelopes-table-error"></div>

<script>
async function RepopulateEnvelopes()
{
  const tbody = document.getElementById("envelopes-table-body");
  
  // remove all children
  tbody.textContent = ""
  
  // request the envelopes
  try
  {
    let r = await fetch('/api/envelopes', {method: 'GET'});
    if (!r.ok) throw new Error(r.statusText + " (" + r.status + ")");
    let j = await r.json();
    for (let i = 0; i < j.envelopes.length; i++) {
      let envelope = j.envelopes[i];
      var row = tbody.insertRow();
      row.insertCell().textContent = envelope.name;
      row.insertCell().textContent = PrettyCurrency(envelope.savedAmount);
      row.insertCell().textContent = PrettyCurrency(DetermineAmountNeededToReachGoal(envelope.savedAmount, envelope.goalAmount));
      row.insertCell().textContent = PrettyCurrency(envelope.goalAmount);
      row.insertCell().textContent = PrettyDate(envelope.goalDate);
    }
  }
  catch (e)
  {
    const errorDiv = document.getElementById("envelopes-table-error");
    errorDiv.textContent = "Error fetching/parsing envelopes: " + e;
  }
}

function DetermineAmountNeededToReachGoal(savedAmount, goalAmount)
{
  if (goalAmount === "") return "";
  let s = BigNumber(savedAmount);
  let g = BigNumber(goalAmount);
  if (s.isGreaterThan(g)) return "0";
  else return g.minus(s).toFixed();
}
        
function PrettyDate(d)
{
  if (!d) return "";
  var date = new Date(d);
  return (date.getMonth() + 1) + "/" + date.getDate() + "/" + date.getFullYear();
}

function PrettyCurrency(c)
{
  if (!c) return "";
  return "$" + c;
}

RepopulateEnvelopes();

</script>